/* styles.css */

body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
#top-bar {
    background-color:black;
    color: white;
    padding: 10px;
    text-align: end;

}
#topbarhd{
    text-align: start;
}
#top-bar button{
    padding: 6px 10px;
    font-size: 14px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#top-bar button:hover {
    background-color: darkgreen;
}
#top-bar ul {
    list-style-type: none;

}

#top-bar ul li {
    display: inline;
    margin-right: 20px;


}

#top-bar ul li a {
    color: white;
    text-decoration: none;
    text-align:end;

}

/*searchbar*/
#search-form {
    display: inline-block;
    margin-left: 20px;
    margin-right: 300px;

}

#search-input {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius:20px;
    width:350px;
    height: 30px;
}

#search-input:focus {
    outline: none;
    border-color: #66afe9;
}

#search-form button {
    padding: 6px 10px;
    font-size: 16px;
    background-color:green;
    color: white;
    border: none;
    border-radius:10px;
    cursor: pointer;
}

#search-form button:hover {
    background-color:darkgreen;
}

/*navbar*/

#nav-bar {
    background-color:green;
    color: white;
    padding: 10px;
    text-align: center;
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar ul li {
    display: inline;
    margin-right: 20px;
}

#nav-bar ul li a {
    color: white;
    text-decoration: none;
}

/*sidebar*/

#sidebar {
    width: 200px;
    background-color: #010128;
    color: white;
    padding: 10px;
    position: fixed;
    top: 70px; /* Adjust based on the height of the top bar */
    bottom: 0;
    overflow-y: auto;
}

#sidebar ul {
    list-style-type: none;

}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
}

#main-content {
    margin-left: 220px; /* Adjust based on the width of the sidebar */
    padding: 20px;
}

#main-content section {
    margin-bottom: 20px;
}
